<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pavle92.riddlequizapp">

    <permission
        android:name="com.example.pavle92.riddlequizapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.pavle92.riddlequizapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/title_activity_main_screen" />
        <activity
            android:name=".Friends"
            android:label="@string/title_activity_friends" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HighScore"
            android:label="@string/title_activity_mapa" />
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".NewPlace"
            android:label="@string/title_activity_main_screen" />
        <activity
            android:name=".AnswerBox"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MyPlacesList"
            android:label="@string/title_activity_main_screen" />
        <activity
            android:name=".ProfilePreview"
            android:label="@string/title_activity_main_screen" />
        <activity
            android:name=".PlacePreview"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".Search"
            android:label="Select friends         "
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".GuestActivity" />
        <activity android:name=".SignUpOptionActivity" />
        <activity android:name=".ScanActivity"></activity>
    </application>

</manifest>
